$signup-background-color: #f0f0f0;
$signup-border-color: #007bff;
$signup-input-background: #d9d9d9;
$signup-button-background: #007bff;
$signup-button-hover-background: #0056b3;

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90%;
  padding: 10px;

  &__form {
    width: 300px;
    padding: 40px;
    background-color: $signup-background-color;
    border-radius: 8px;
    border: 2px solid $signup-border-color;

    h2 {
      margin-bottom: 20px;
      font-weight: 500;
    }

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        color: #737373;
        font-weight: 400;
        margin-bottom: 5px;
      }

      input {
        width: 91%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: $signup-input-background;
      }
    }

    .error-message {
      color: red;
      margin-bottom: 10px;
    }

    .signup_btn {
      padding: 10px 20px;
      background-color: $signup-button-background;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      text-align: center;
      width: 100%;

      &:hover {
        background-color: $signup-button-hover-background;
      }
    }
  }
}
